@model clinic_api.Models.Doctore

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Doctore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecialidadFk" class="control-label"></label>
                <select asp-for="EspecialidadFk" class ="form-control" asp-items="ViewBag.EspecialidadFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="Diploma" class="control-label"></label>
                <input asp-for="Diploma" class="form-control" />
                <span asp-validation-for="Diploma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <input asp-for="Perfil" class="form-control" />
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InformacionMedica" class="control-label"></label>
                <select asp-for="InformacionMedica" class ="form-control" asp-items="ViewBag.InformacionMedica"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
